<!DOCTYPE html>
<html>
  <head>
    <title>Markio Kart</title>

    
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    
  
   
    
    <body>
      <h1 style="text-align: center;">Markio Kart</h1>
      <h2 style="text-align: center;">Highscores</h2>
    
      <div class="container">
        
        <!-- Pokemon card for high score player -->
        <div class="kart">
          <img src="https://primary.jwwb.nl/public/z/j/j/temp-mhlghatckesueezbygcf/yineg5/screenshot2023-02-01at24932pm.png?enable-io=true&enable=upscale&width=588" alt="Markio" class="markio">
          <div class="name">Gefeliciteerd {{ highscores[0][0] }}!</div>
          <div class="score">Score: {{ highest_score }}</div>
          <div class="winner">1ste plaats!</div>
          <br>
          




           <!-- Add score form -->
          <form method="POST" action="/add_score">

            
          <br>
          <br>


            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="score">Score:</label>
            <input type="number" id="score" name="score" required>
            <br>
            
            <button type="submit" id="add-button">Add Score</button>
            
          </form>



          <br>
          <br>
          


          <form method="POST" action="/delete_score">
            <button type="submit" class="btn btn-danger" id="delete-button">Delete Last Score</button>
          </form>




       </div>

      

      
        <!-- table high score -->
        <table>
          <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Score</th>
          </tr>
          {% for score in highscores %}
          <tr>
            
              <td>{{ loop.index }}</td>
              <td>{{ score[0] }}</td>
              <td>{{ score[1] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>


      
    </body>
    
  
</html>



